<h1>New movie</h1>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'id', @movie.id %>

  <p>
    <%= f.label :title %><br />
    <%=h @movie.title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%=h @movie.description %>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%=h @movie.rating%>
  </p>
  <p>
    <%= f.label :released_on %><br />
    <%=h @movie.released_on %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', '/search' %>
